* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.flex {
    outline: 1px dashed red;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    outline: 1px dashed blue;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .flex-item {
        margin-bottom: 20px;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar ul li a {
        color: #333;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* add class */
    }

    .navbar ul {
        margin-top: 20px;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar ul li a {
        color: #333;
    }


}