* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#sidebar {
    /* outline: 1px dashed lightblue; */
    border: 1px solid #000;
    position: absolute;
    width: 15rem;
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    /* Position items */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    text-decoration: none;
    color: #000;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
}

.sidebar-item:hover {
    background-color: lightblue;
}

.sidebar__toggle {
    border: none;
    background: none;
    font-size: 1.5rem;
    margin: 0 .5rem;
}

.sidebar__toggle:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: baseline;
    outline: 1px dashed lightgreen;
    padding: 1rem;
}

@media screen and (max-width: 768px) {}